
h3, h4{
  text-align: center;
  margin: 2px 0;

}

table{
  margin: 0 auto;
  padding-top: 15px;

  & td, th{
    border: solid 1px black;
    text-align: center;
  }

  & tr:first-of-type(){
    border-bottom: 3px solid black;
  }
}

.analyticPoints{
  font-size: 13px;
  font-style: italic;
}